<div class="p-grid">
    <div class="p-col">
        <div class="p-grid boardCellsContainer">
            <ng-container *ngFor="let cell of boardCells">
                <div [ngClass]="cell.emphasis  ? 'emphasis-cell' : ''"
                    (click)="onCellClick($event, cell)"
                    class="p-col-4"><i class="pi {{cell.cssClass}}"></i></div>
            </ng-container>

        </div>
    </div>
    <div class="p-col-4">
        <p-panel>
          <p-header>
              <strong>Score:</strong>
          </p-header>
          <div class="p-grid">
              <ng-container *ngFor="let player of players">
                  <div class="p-col-6">{{player.name}}:</div>
                  <div class="p-col-6">{{player.score}}</div>
              </ng-container>
          </div>
          <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New Game"
                      (click)="newGame($event)" class="ui-button-info" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-replay" label="Clear All"
                      (click)="clearGames($event)" class="ui-button-success"></button>
          </p-footer>
      </p-panel>
    </div>
</div>

<p-toast position="bottom-center"></p-toast>






