// @import "./variables";
@import "~primeflex/primeflex";
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

.boardCellsContainer {
  width: 300px;
  margin: 0 auto;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  div {
    height: 100px;
    cursor: pointer;
    border-bottom: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    text-align: center;
    padding-top: 1.2em;
    i.pi {
      font-size: 60px;
    }
  }
}
.emphasis-cell {
  background: coral;
}
